#imPgTitle { width: 946px; margin-left: 6px; margin-right: 6px; }
#imBreadcrumb { width: 946px; margin-left: 6px; margin-right: 6px; }
#imGroup_1 { width: 960px; }
#imGroup_2 { width: 640px; }
#imCell_3 { width: 634px; min-height: 34px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
#imCellStyle_3 { width: 634px; min-height: 34px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imCellStyleGraphics_3 { left: 3px; right: 3px; }
#imTextObject_3 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imTextObject_3 .text-container { height: 28px;}
#imGroup_3 { width: 640px; }
#imCell_1 { width: 314px; min-height: 427px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
#imCellStyle_1 { width: 314px; min-height: 427px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imCellStyleGraphics_1 { left: 3px; right: 3px; }
#imGroup_4 { width: 320px; }
#imGroup_5 { width: 320px; height: 15px; }
#imGroup_6 { width: 320px; height: 418px; }
#imGroup_7 { width: 320px; }
#imGroup_8 { width: 320px; height: 40px; }
#imGroup_9 { width: 320px; height: 15px; }
#imGroup_10 { width: 320px; height: 418px; }
