#imPgTitle { width: 946px; margin-left: 6px; margin-right: 6px; }
#imCell_1 { width: 954px; min-height: 256px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
#imCellStyle_1 { width: 954px; min-height: 256px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imCellStyleGraphics_1 { left: 3px; right: 3px; }
#imProductList_1 .imProductListCont { width: 448px; }
#imProductList_1 .imProductListImage { width: 60%; }#imProductList_1 .imProductListImage img { margin: 0 auto; width: 90% !important; height: auto !important; }#imProductList_1 .imProductListText { width: 40%; }
