h2#imPgTitle {float: left; }
#imBreadcrumb { float: left; }
#imGroup_1 { float: left; }
#imGroup_1 > div { float: left; }
#imCell_5 { display: block; position: relative; overflow: hidden; }
#imCellStyle_5 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_5 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
@media  (max-width: 184px) {
	#imTextObject_5 .tab { background-color: #60BF00; text-decoration: none; color: #000000; display: block; border-style: solid; border-color: #A9A9A9; float: left; text-align: center; width: 89px; height: 24px; overflow: hidden; font: normal normal normal 14pt 'Agency FB'; line-height: 23px;}
	#imTextObject_5 .selected-text-tab, #imTextObject_5 .tab:hover { color: #00BF30; background-color: #FFFFFF; }
	#imTextObject_5 .text-tabs { z-index: 100; height: 26px; position: relative; }
	#imTextObject_5 .text-tabs-border { border-bottom: 1px solid #A9A9A9; position: absolute; top: 0; left: 0; bottom: 0; right: 2px; }
	#imTextObject_5 .text-tabs-outer { height: 26px; overflow: hidden; position: relative; }
	#imTextObject_5 .text-tabs-inner { width: 183px; height: 26px; position: absolute; left: 0;  }
	#imTextObject_5 .tab { border-width: 1px 0 1px 1px;}
	#imTextObject_5 .last-tab { border-right-width: 1px !important; }
	#imTextObject_5 .selected-text-tab { border-bottom-color: #FFFFFF; }
	#imTextObject_5 .text-tabs { width: 100%; }
	#imTextObject_5 .text-tabs-outer { width: 100%; }
	#imTextObject_5 .floated-tab { float: left; position: relative; }
	#imTextObject_5 .tab-scroller { display: block; cursor: pointer; font-family: Arial; font-size: 14pt; border-top-width: 1px; border-bottom-width: 1px; width: 25px !important; height: 24px !important;}
	#imTextObject_5 .tab-scroller:nth-child(2) span:before { content: "\2190"; }
	#imTextObject_5 .tab-scroller:last-child span:before { content: "\2192"; }
	#imTextObject_5 .first-tab { border-top-width: 1px !important; }
	
}
@media  (max-width: 479px) and (min-width: 184px) {
	#imTextObject_5 .tab-scroller { display: none !important; }
}
#imTextObject_5 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_5_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_5_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_5_tab0 ul ul ul { list-style: circle; }
#imTextObject_5_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_5_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_5_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_5_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_5_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_5_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_5_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_5_tab0 p { margin: 0; padding: 0; }
#imTextObject_5_tab0 .inline-block { display: inline-block; }
#imTextObject_5_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_5_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_5_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_5_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_5_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_5_tab0 img.fleft { margin-right: 15px; }
#imTextObject_5_tab0 img.fright { margin-left: 15px; }
#imTextObject_5_tab0 .imUl { text-decoration: underline; }
#imTextObject_5_tab0 .imVt { vertical-align: top; }
#imTextObject_5_tab0 .imVc { vertical-align: middle; }
#imTextObject_5_tab0 .imVb { vertical-align: bottom; }
#imTextObject_5_tab1 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_5_tab1 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_5_tab1 ul ul ul { list-style: circle; }
#imTextObject_5_tab1 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_5_tab1 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_5_tab1 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_5_tab1 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_5_tab1 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_5_tab1 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_5_tab1 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_5_tab1 p { margin: 0; padding: 0; }
#imTextObject_5_tab1 .inline-block { display: inline-block; }
#imTextObject_5_tab1 sup { vertical-align: super; font-size: smaller; }
#imTextObject_5_tab1 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_5_tab1 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_5_tab1 .fleft { float: left; vertical-align: baseline;}
#imTextObject_5_tab1 .fright { float: right; vertical-align: baseline;}
#imTextObject_5_tab1 img.fleft { margin-right: 15px; }
#imTextObject_5_tab1 img.fright { margin-left: 15px; }
#imTextObject_5_tab1 .imUl { text-decoration: underline; }
#imTextObject_5_tab1 .imVt { vertical-align: top; }
#imTextObject_5_tab1 .imVc { vertical-align: middle; }
#imTextObject_5_tab1 .imVb { vertical-align: bottom; }
#imTextObject_5 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imTextObject_5 { position: relative; }
#imTextObject_5 .text-inner  { padding: 10px  10px  10px  10px }
#imCell_4 { display: block; position: relative; overflow: hidden; }
#imCellStyle_4 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_4 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
@media (min-width: 960px) {
	#imPgTitle { width: 946px; margin-left: 6px; margin-right: 6px; }
	#imBreadcrumb { width: 946px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 960px; }
	#imCell_5 { width: 954px; min-height: 473px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_5 { width: 954px; min-height: 473px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 3px; right: 3px; }
	#imTextObject_5 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_5 .text-container { height: 440px;}
	#imTextObject_5 .tab { background-color: #60BF00; text-decoration: none; color: #000000; display: block; border-style: solid; border-color: #A9A9A9; float: left; text-align: center; width: 89px; height: 24px; overflow: hidden; font: normal normal normal 14pt 'Agency FB'; line-height: 23px;}
	#imTextObject_5 .selected-text-tab, #imTextObject_5 .tab:hover { color: #00BF30; background-color: #FFFFFF; }
	#imTextObject_5 .text-tabs { z-index: 100; height: 26px; position: relative; }
	#imTextObject_5 .text-tabs-border { border-bottom: 1px solid #A9A9A9; position: absolute; top: 0; left: 0; bottom: 0; right: 2px; }
	#imTextObject_5 .text-tabs-outer { height: 26px; overflow: hidden; position: relative; }
	#imTextObject_5 .text-tabs-inner { width: 183px; height: 26px; position: absolute; left: 0;  }
	#imTextObject_5 .tab { border-width: 1px 0 1px 1px;}
	#imTextObject_5 .last-tab { border-right-width: 1px !important; }
	#imTextObject_5 .selected-text-tab { border-bottom-color: #FFFFFF; }
	#imTextObject_5 .text-tabs { width: 100%; }
	#imTextObject_5 .text-tabs-outer { width: 950px; }
	#imTextObject_5 .tab-scroller { display: none; }
	#imCell_4 { width: 954px; min-height: 6px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_4 { width: 954px; min-height: 6px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 3px; right: 3px; }
	
}
@media  (max-width: 959px) and (min-width: 840px) {
	#imPgTitle { width: 826px; margin-left: 6px; margin-right: 6px; }
	#imBreadcrumb { width: 826px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 840px; }
	#imCell_5 { width: 834px; min-height: 473px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_5 { width: 834px; min-height: 473px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 3px; right: 3px; }
	#imTextObject_5 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_5 .text-container { height: 440px;}
	#imTextObject_5 .tab { background-color: #60BF00; text-decoration: none; color: #000000; display: block; border-style: solid; border-color: #A9A9A9; float: left; text-align: center; width: 89px; height: 24px; overflow: hidden; font: normal normal normal 14pt 'Agency FB'; line-height: 23px;}
	#imTextObject_5 .selected-text-tab, #imTextObject_5 .tab:hover { color: #00BF30; background-color: #FFFFFF; }
	#imTextObject_5 .text-tabs { z-index: 100; height: 26px; position: relative; }
	#imTextObject_5 .text-tabs-border { border-bottom: 1px solid #A9A9A9; position: absolute; top: 0; left: 0; bottom: 0; right: 2px; }
	#imTextObject_5 .text-tabs-outer { height: 26px; overflow: hidden; position: relative; }
	#imTextObject_5 .text-tabs-inner { width: 183px; height: 26px; position: absolute; left: 0;  }
	#imTextObject_5 .tab { border-width: 1px 0 1px 1px;}
	#imTextObject_5 .last-tab { border-right-width: 1px !important; }
	#imTextObject_5 .selected-text-tab { border-bottom-color: #FFFFFF; }
	#imTextObject_5 .text-tabs { width: 100%; }
	#imTextObject_5 .text-tabs-outer { width: 830px; }
	#imTextObject_5 .tab-scroller { display: none; }
	#imCell_4 { width: 834px; min-height: 6px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_4 { width: 834px; min-height: 6px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 3px; right: 3px; }
	
}
@media  (max-width: 839px) and (min-width: 480px) {
	#imPgTitle { width: 466px; margin-left: 6px; margin-right: 6px; }
	#imBreadcrumb { width: 466px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 480px; }
	#imCell_5 { width: 476px; min-height: 473px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_5 { width: 476px; min-height: 473px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 2px; right: 2px; }
	#imTextObject_5 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_5 .text-container { height: 440px;}
	#imTextObject_5 .tab { background-color: #60BF00; text-decoration: none; color: #000000; display: block; border-style: solid; border-color: #A9A9A9; float: left; text-align: center; width: 89px; height: 24px; overflow: hidden; font: normal normal normal 14pt 'Agency FB'; line-height: 23px;}
	#imTextObject_5 .selected-text-tab, #imTextObject_5 .tab:hover { color: #00BF30; background-color: #FFFFFF; }
	#imTextObject_5 .text-tabs { z-index: 100; height: 26px; position: relative; }
	#imTextObject_5 .text-tabs-border { border-bottom: 1px solid #A9A9A9; position: absolute; top: 0; left: 0; bottom: 0; right: 2px; }
	#imTextObject_5 .text-tabs-outer { height: 26px; overflow: hidden; position: relative; }
	#imTextObject_5 .text-tabs-inner { width: 183px; height: 26px; position: absolute; left: 0;  }
	#imTextObject_5 .tab { border-width: 1px 0 1px 1px;}
	#imTextObject_5 .last-tab { border-right-width: 1px !important; }
	#imTextObject_5 .selected-text-tab { border-bottom-color: #FFFFFF; }
	#imTextObject_5 .text-tabs { width: 100%; }
	#imTextObject_5 .text-tabs-outer { width: 472px; }
	#imTextObject_5 .tab-scroller { display: none; }
	#imCell_4 { width: 476px; min-height: 6px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_4 { width: 476px; min-height: 6px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 2px; right: 2px; }
	
}
@media  (max-width: 479px) {
	#imPgTitle { width: 100%; margin-left: 0px; margin-right: 0px; }
	#imBreadcrumb { width: 100%; margin-left: 0px; margin-right: 0px; }
	#imGroup_1 { width: 100%; clear: left; }
	#imCell_5 { clear: left; }
	#imCell_5 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_5 { width: 100%; min-height: 0px; padding: 3px 3px -43px 3px; }
	#imCellStyleGraphics_5 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imTextObject_5 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_5 .tab { background-color: #60BF00; text-decoration: none; color: #000000; display: block; border-style: solid; border-color: #A9A9A9; float: left; text-align: center; width: 89px; height: 24px; overflow: hidden; font: normal normal normal 14pt 'Agency FB'; line-height: 23px;}
	#imTextObject_5 .selected-text-tab, #imTextObject_5 .tab:hover { color: #00BF30; background-color: #FFFFFF; }
	#imTextObject_5 .text-tabs { z-index: 100; height: 26px; position: relative; }
	#imTextObject_5 .text-tabs-border { border-bottom: 1px solid #A9A9A9; position: absolute; top: 0; left: 0; bottom: 0; right: 2px; }
	#imTextObject_5 .text-tabs-outer { height: 26px; overflow: hidden; position: relative; }
	#imTextObject_5 .text-tabs-inner { width: 183px; height: 26px; position: absolute; left: 0;  }
	#imTextObject_5 .tab { border-width: 1px 0 1px 1px;}
	#imTextObject_5 .last-tab { border-right-width: 1px !important; }
	#imTextObject_5 .selected-text-tab { border-bottom-color: #FFFFFF; }
	#imTextObject_5 .text-tabs { width: 100%; }
	#imTextObject_5 .text-tabs-outer { width: 100%; }
	#imTextObject_5 .floated-tab { float: left; position: relative; }
	#imTextObject_5 .tab-scroller { display: block; cursor: pointer; font-family: Arial; font-size: 14pt; border-top-width: 1px; border-bottom-width: 1px; width: 25px !important; height: 24px !important;}
	#imTextObject_5 .tab-scroller:nth-child(2) span:before { content: "\2190"; }
	#imTextObject_5 .tab-scroller:last-child span:before { content: "\2192"; }
	#imTextObject_5 .first-tab { border-top-width: 1px !important; }
	#imCell_4 { clear: left; }
	#imCell_4 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_4 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_4 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	
}
