h2#imPgTitle {float: left; }
#imBreadcrumb { float: left; }
#imGroup_1 { float: left; }
#imGroup_1 > div { float: left; }
#imGroup_5 > div { float: right; }
#imCell_8 { display: block; position: relative; overflow: hidden; }
#imCellStyle_8 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_8 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_8 { width: 100%; max-width: 109px; }
#imCell_3 { display: block; position: relative; overflow: hidden; }
#imCellStyle_3 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
@media (min-width: 960px) {
	#imPgTitle { width: 946px; margin-left: 6px; margin-right: 6px; }
	#imBreadcrumb { width: 946px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 960px; }
	#imGroup_2 { width: 960px; height: 15px; }
	#imGroup_3 { width: 960px; height: 0px; }
	#imGroup_4 { width: 960px; height: 0px; }
	#imGroup_5 { width: 960px; }
	#imCell_8 { width: 234px; min-height: 39px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_8 { width: 234px; min-height: 39px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_8 { left: 3px; right: 3px; }
	#imGroup_6 { width: 720px; height: 45px; }
	#imCell_3 { width: 954px; min-height: 9px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_3 { width: 954px; min-height: 9px; padding: 3px 3px 6px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 3px; right: 3px; }
	
}
@media  (max-width: 959px) and (min-width: 840px) {
	#imPgTitle { width: 826px; margin-left: 6px; margin-right: 6px; }
	#imBreadcrumb { width: 826px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 840px; }
	#imGroup_2 { width: 840px; height: 15px; }
	#imGroup_3 { width: 840px; height: 0px; }
	#imGroup_4 { width: 840px; height: 0px; }
	#imGroup_5 { width: 840px; }
	#imCell_8 { width: 204px; min-height: 39px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_8 { width: 204px; min-height: 39px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_8 { left: 3px; right: 3px; }
	#imGroup_6 { width: 630px; height: 45px; }
	#imCell_3 { width: 834px; min-height: 9px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_3 { width: 834px; min-height: 9px; padding: 3px 3px 6px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 3px; right: 3px; }
	
}
@media  (max-width: 839px) and (min-width: 480px) {
	#imPgTitle { width: 466px; margin-left: 6px; margin-right: 6px; }
	#imBreadcrumb { width: 466px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 480px; }
	#imGroup_2 { width: 480px; height: 15px; }
	#imGroup_3 { width: 480px; height: 0px; }
	#imGroup_4 { width: 480px; height: 0px; }
	#imGroup_5 { width: 480px; }
	#imCell_8 { width: 116px; min-height: 39px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_8 { width: 116px; min-height: 39px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_8 { left: 2px; right: 2px; }
	#imGroup_6 { width: 360px; height: 45px; }
	#imCell_3 { width: 476px; min-height: 9px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_3 { width: 476px; min-height: 9px; padding: 3px 3px 6px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 2px; right: 2px; }
	
}
@media  (max-width: 479px) {
	#imPgTitle { width: 100%; margin-left: 0px; margin-right: 0px; }
	#imBreadcrumb { width: 100%; margin-left: 0px; margin-right: 0px; }
	#imGroup_1 { width: 100%; clear: left; }
	#imGroup_2 { display: none; clear: left; }
	#imGroup_3 { display: none; clear: left; }
	#imGroup_4 { display: none; clear: left; }
	#imGroup_5 { width: 100%; clear: left; }
	#imCell_8 { clear: right; }
	#imCell_8 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_8 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_8 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_6 { display: none; clear: right; }
	#imCell_3 { clear: left; }
	#imCell_3 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_3 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_3 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	
}
